@import "../variables/colors";
@import "../variables/padding_container";
@import "../mixins/flex";

.footer {
    padding: 65px 0 70px;
    text-align: center;
    background-color: #000;

    @media (max-width: 768px) {
        padding: 57px 0;
    }


    .footer__content {
        max-width: 684px;
        margin: 0 auto;
        @include flex-column-center;
        color: $secondary_light_color_text;

        @media (max-width: 768px) {
            max-width: 86vw;
        }


        .footer__title {
            color: $main_light_color_text;
            margin-bottom: 22px;
        }
       

        .footer__text {
            font-size: 16px;
            line-height: 1.75;

            @media (max-width: 768px) {
                font-size: 12px;
                line-height: 1.67;
            }
        }


        .footer__icons-wrapper {
            margin: 37px 0 34px;
            display: flex;
            gap: 5.5px;

            @media (max-width: 768px) {
                margin: 26px 0;
            }


            .footer__icon-wrapper {
                width: 34px;
                height: 34px;
                @include flex-center;

                & img {
                    width: 100%;
                }
            }
        }

        .footer__contacts {
            font-size: 16px;
            line-height: 1.62;

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 1.71;
            }
            
            @media (max-width: 450px) {
                @include flex-column-center;
                gap: 10px;
            }

            & a {
                color: $secondary_light_color_text;
                text-decoration: none;
            }
        }
    }
}
