<header class="header">
	<div class="container">
		<div class="header__menu">
			<div class="menu__btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__item"><a href="/" class="menu__link">Home</a></li>
					<li class="menu__item"><a href="/" class="menu__link">About Us</a></li>
					<li class="menu__item"><a href="/" class="menu__link">Our Journal</a></li>
					<li class="menu__item"><a href="/" class="menu__link">Projects</a></li>
					<li class="menu__item"><a href="/" class="menu__link">News</a></li>
					<li class="menu__item"><a href="/" class="menu__link">Features</a></li>
					<li class="menu__item"><a href="/" class="menu__link">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__hero">
			<img class="header__hero--img" src="../img/hero/intro-img 1.png" alt="Railway">
		</div>
	</div>
</header>
