@import "../variables/variables";
@import "reset";

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto,sans-serif;
	font-size: 14px;
	color: $main_dark_color_text;
}

html,body { 
	height: 100%; 
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	padding: 0 $padding-container;
	margin: 0 auto;
	box-sizing: border-box;

}

.section__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.38;
	text-transform: uppercase;


	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 1.57;	
	}
}